ion-item{
    border: 1px solid #F99723;
    margin-right: 5px;
    border-radius: 20px;
    margin-top: 10px;

}
.im{
    display: block;
    margin: auto;
    padding: auto;
    height: 50%;
}
ion-title{
    text-align: center;
}
.back{
    font-size: 20px;
    margin-left: 10px;
}