ion-item{
    border: 1px solid #F99723;
    margin-right: 5px;
    border-radius: 20px;
}
ion-item{
    margin-top: 20px;
}
.log{
    width: 160px;
    // height: 200px;
    margin-top: 0%;
    margin: auto;
    padding: auto;
    display: block;
}
ion-icon{
    font-weight: bold;
    
}
ion-button{
    font-weight: bold;

}
.bu{
    margin-left: 5px;
    margin-right: 5px;
}