

<ion-content>
<img src="./assets/images/signup_top.png">
<img class="log" src="./assets/images/login.png">
<form action="#"  #loginForm="ngForm"  (ngSubmit)="connexion(loginForm)" novalidate>
<ion-item>
  <!-- <ion-label color="primary" position="floating">Name</ion-label> -->
  <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" name="username" ngModel  inputmode="text" placeholder="Entrez votre login" required="true"></ion-input>
  <ion-icon name="person"  slot="end"></ion-icon>
</ion-item>

<ion-item>
  
  <ion-input placeholder="Password" [type]="passwordType" autocorrect="on" autofocus="on" ngModel name="password" clearInput="true" clearOnEdit="true" required="true"  inputmode="text"></ion-input>
  <ion-icon [name]="passwordIcon" slot="end" (click)='hideShowpassword()'></ion-icon>
</ion-item>
  
<!-- <ion-item>
  <app-show-hide-password>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </app-show-hide-password>
</ion-item> -->

 

  <div class="ion-margin-top ion-text-right forget">
    <a>Forgot Password?</a>
  </div>

  <div class="ion-margin-top bu">
    <ion-button expand="block" type="submit"  >CONNEXION</ion-button>
  </div>
</form>
  
</ion-content>
