<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
    <ion-title>rendu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="banner">
    <img src="../../assets/Soustraction 1.png" />

    <div class="caption ion-padding">
      BRIEF
    </div>

    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input placeholder="Search events"></ion-input>
        <ion-button slot='end'>
          <img src="../../assets/filter.svg" />
        </ion-button>
      </ion-item>
    </div>
  </div>

  <div class="title">
    <h2>Tout les Brief</h2>

    
  </div>

  <div class="event-slider" >
    <ion-slides  [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" class="default-left-padding">
      <ion-slide *ngFor="let item of listBrief">
        <ion-col class="ion-text-left" routerLink="/detail-brief/{{item.id}}">
          <ion-card >
            <ion-card-header class="ion-no-padding">
              <img src={{img1}}{{item.id}} alt="img" style="height: 90px" />
            </ion-card-header>

            <ion-card-content>
              <ion-row class="da">
              <p class="d">Date :</p>
              <p class="date">{{item.date}}</p>
            </ion-row>
              <h2 class="eventname">{{item.type}}</h2>
              <ion-row class="da">
              <img  src="../../assets/persons/person4.svg" />
              <p class="location">{{item.formateur.prenom}} {{item.formateur.nom}}</p>
            </ion-row>
              <div class="additional-info">
                <div class="attendees">
                  <img  src={{img}}{{item.evaluation.matiere.id}} alt="img" style="width: 50px; display: block; margin: auto; border-radius: 50%; margin-bottom: 10px;"/>
                  
                  
                </div>
                <ion-row class="da">
                <p class="d">Rendu :</p>
                <p class="time" >{{item.dateRendu}}</p>
              </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
      
    </ion-slides>
  </div>
  <!-- <ion-list>
    <ion-list-header>
      <ion-label>Rendu</ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let item of transactions">
      <ion-icon slot="start" name="cash" color="primary"></ion-icon>
      <ion-label size="large" class="ion-text-wrap">
        <b>{{item.vendor}}</b>
        <p>
          {{item?.time}}
        </p>
      </ion-label>
      <ion-text slot="end" [color]="item?.amount > 0 ? 'success' : 'danger'">₹{{item?.amount}}</ion-text>
    </ion-item>
  </ion-list> -->
  <!-- <div class="default-top-padding title">
    <h2>Live right now</h2>

    <p>See all</p>
  </div> -->

  <!-- <div class="live-event">
    <img src="../../assets/events/event3.svg" />

    <div class="info">
      <div class="content">
        <h6>World Art Day</h6>

        <p class="stats">
          <span><ion-icon name="eye"></ion-icon>&nbsp;2.3K</span><span><ion-icon name="heart"></ion-icon>&nbsp;3758</span>
        </p>

        <p class="location"><ion-icon name='location'></ion-icon>Caracas, Venezuela</p>

        <div class="additional-info">
          <div class="attendees">
            <img src="../../assets/persons/person1.svg" />
            <img src="../../assets/persons/person2.svg" />
            <img src="../../assets/persons/person3.svg" />
            <img src="../../assets/persons/person4.svg" />
            <div class="count">
              <img src="../../assets/persons/person-placeholder.svg" />

              <p>+3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="indicator">
        <div>Live</div>
      </div>
    </div>
  </div> -->
</ion-content>
