
<ion-content [fullscreen]="true">

  <div class="wave-container">
    <h2>Bienvenue</h2>
    <img src="./assets/images/Page-1.png">
    
    <ion-button color="primary" shape="round" routerLink="/login" class="ion-text-capitalize">
      Connectez-vous
    </ion-button>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#F99723" fill-opacity="1" d="M0,64L120,101.3C240,139,480,213,720,202.7C960,192,1200,96,1320,48L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>
  
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
     <h4>Orange Digital Kalanso</h4>
    </ion-title>
  </ion-toolbar>
</ion-footer> 