<ion-header>
  <ion-toolbar >
    <ion-menu-button   menu="main-menu"></ion-menu-button>
  <!-- <ion-row>
    <ion-menu-button   menu="main-menu"></ion-menu-button>
  <ion-icon name="close" class="ion-float-right" routerLink="/brief"  ></ion-icon>
</ion-row> -->
<ion-title>moi</ion-title>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
<p>{{dataBrief.description}}</p>
</ion-content>
<ion-footer >
  <ion-toolbar >
    
    <ion-row class="row">
  <h5 class="g"> Rendu le :</h5>
  <h5 class="d" ></h5>
</ion-row>
</ion-toolbar>
</ion-footer>
